       *{
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
        }

        .nav-container{
            background-color: #2f4858;
            padding-left: 5%;
            padding-right: 5%;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu-container{
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .menu-container a{
            text-decoration: none;
            font-size: large;
            color: #FFFFFF;
            font-weight: 500;
        }

        .menu-container a:hover{
            color: #D67411;
        }

        .all-restaurants-container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 25px;
            margin-left: 30px;
            margin-top: 20px;
        }

        .cart-container{
            border-radius: 15px;
            width: 280px;
            height: 450px;
            background-color: #d6731122;
        }

        .content-container{
            padding: 20px;
        }

        .restaurant-title{
            color: #D67411;
            margin-bottom: 15px;
            /* text-align: center; */
        }

        .restaurant-description{
            color: #2f4858;
            height: 120px;
        }

        .restaurant-buttons{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .restaurant-buttons a{
            padding: 7px 15px;
            background-color: #D67411;
            color: white;
            font-size: 15px;
            border: 0;
            border-radius: 10px;
            text-decoration: none;
        }

        .restaurant-buttons a:hover{
            cursor: pointer;
            background-color: #9d560f;
        }

        .main-title{
            text-align: center;
            margin: 40px 0px;
            color: #D67411;
            font-size: 50px;
            letter-spacing: 5px;
            word-spacing: 10px;
            font-weight: 900;
        }

        .about-us-banner-container{
            width: 100%;
            height: 400px;
            background: url('https://cdn.shopify.com/s/files/1/0445/1365/6985/files/elements-of-cooking-flavor-profiling.jpg?v=1638211100');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .about-us-banner-container *{
            z-index: 1;
        }

        .blur-overlay{
            position: absolute;
            width: 100%;
            height: 400px;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .what-we-do-container{
            width: 100%;
            height: 400px;
            background-color: #2f4858;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .what-we-do-inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .our-features{
            margin-top: 50px;
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        .our-features div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .our-features div h3{
            color: #D67411;
        }

        .our-features div i{
            position: relative;
            top: -35px;
            z-index: 1;
            color: #2f4858;
        }

        .our-features div div{
            top: 30px;
            position: relative;
            width: 35px;
            height: 35px;
            background-color: #D67411;
            display: flex;
            justify-content: center;
            align-items: center;
            rotate: 45deg;
            margin-bottom: 40px;
        }

        .pricing-container{
            width: 100%;
            height: 700px;
            background-color: rgba(128, 128, 128, 0.311);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }

        .pricing-plan-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .circle-price-container{
            position: relative;
            top: 65px;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background-color: #2f4858;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: 500;
        }

        .main-price-container{
            width: 300px;
            height: 450px;
            border-radius: 40px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .pricing-button{
            width: 100%;
            height: 100px;
            position: relative;
            bottom: 50px;
        }

        .plan-price{
            color: #2f4858;
            font-size: 40px;
            font-weight: 100;
            margin-bottom: 5px;
        }

        .single-feature-pricing{
            width: 75%;
            border-bottom: 1px solid gray;
            padding-bottom: 7px;
            margin-top: 25px;
        }

        .single-feature-pricing .fa-check{
            color: green;
        }

        .single-feature-pricing .fa-times-circle{
            color: red;
        }

        .footer-container{
            width: 100%;
            height: 200px;
            background-color: #2f4858;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .footer-pages{
            width: 80%;
            display: flex;
            justify-content: space-between;
        }

        .social-container{
            width: 80%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .social-logos{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .social-logos img{
            width: 20px;
            height: 20px;
            z-index: 9999;
        }

        .contact-container{
            width: 100%;
            height: 550px;
            background-color: #2f4858;
        }

        .contact-us-title{
            text-align: center;
            color: #FFFFFF;
        }

        .input-container{
            color: white;
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .input-container input{
            margin-top: 5px;
            border-radius: 10px;
            border: 2px solid #D67411;
            width: 200px;
            height: 40px;
        }

        .submit-btn{
            background-color: #D67411;
            color: white;
            font-size: 15px;
            border: 0;
            border-radius: 10px;
            text-decoration: none;
        }
        
        .submit-btn:hover{
            cursor: pointer;
            background-color: #9d560f;
        }

        .categories-list{
            display: flex;
            justify-content: space-around;
            width: 100%;
            background-color: #9d560f;
            color: white;
        }