{% extends 'base.html' %}

{% block content %}
<div class="pricing-container">
    
    <div class="pricing-plan-container">
        <div class="circle-price-container" style="background-color: #2f4858;">Free</div>
        <div class="main-price-container">
            <h2 class="plan-price">0$</h2>
            <div class="single-feature-pricing">
                <i class="fa fa-check" aria-hidden="true"></i>
                Menu e personalizuar
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                SEO included
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                Support 24/7
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                Prioritet ne reklamim
            </div>
        </div>
        <div class="restaurant-buttons pricing-button">
            <a href="">
                Start today
            </a>
        </div>
    </div>

    <div class="pricing-plan-container">
        <div class="circle-price-container" style="background-color: rgb(124, 124, 124);">Platin</div>
        <div class="main-price-container">
            <h2 class="plan-price">6.99$</h2>
            <div class="single-feature-pricing">
                <i class="fa fa-check" aria-hidden="true"></i>
                Menu e personalizuar
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-check" aria-hidden="true"></i>
                SEO included
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                Support 24/7
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                Prioritet ne reklamim
            </div>
        </div>
        <div class="restaurant-buttons pricing-button">
            <a href="">
                Buy now
            </a>
        </div>
    </div>

    <div class="pricing-plan-container">
        <div class="circle-price-container" style="background-color: #D67411;">Gold</div>
        <div class="main-price-container">
            <h2 class="plan-price">9.99$</h2>
            <div class="single-feature-pricing">
                <i class="fa fa-check" aria-hidden="true"></i>
                Menu e personalizuar
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-check" aria-hidden="true"></i>
                SEO included
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-check" aria-hidden="true"></i>
                Support 24/7
            </div>

            <div class="single-feature-pricing">
                <i class="fa fa-check" aria-hidden="true"></i>
                Prioritet ne reklamim
            </div>
        </div>
        <div class="restaurant-buttons pricing-button">
            <a href="">
                Buy now
            </a>
        </div>
    </div>
</div>
{% endblock content %}